/Users/paulpog/Documents/GitHub/Kafka-Zookeeper-with-Vault-using_Ansible/debugger.xml
/Users/paulpog/Documents/GitHub/Kafka-Zookeeper-with-Vault-using_Ansible/code.style.schemes.xml
/Users/paulpog/Documents/GitHub/Kafka-Zookeeper-with-Vault-using_Ansible/filetypes.xml
/Users/paulpog/Documents/GitHub/Kafka-Zookeeper-with-Vault-using_Ansible/find.xml
/Users/paulpog/Documents/GitHub/Kafka-Zookeeper-with-Vault-using_Ansible/ide.general.xml
/Users/paulpog/Documents/GitHub/Kafka-Zookeeper-with-Vault-using_Ansible/venv
/Users/paulpog/Documents/GitHub/Kafka-Zookeeper-with-Vault-using_Ansible/codestyles
/Users/paulpog/Documents/GitHub/Kafka-Zookeeper-with-Vault-using_Ansible/_mac
/Users/paulpog/Documents/GitHub/Kafka-Zookeeper-with-Vault-using_Ansible/.idea